<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
	<title th:text="${titulo}"></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" 
	integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	
</head>
<body style="background-color:#CCE3F7" >
<div  class="fluid-container" align="center" style="padding:50px">
		<font color="#013B6C">
			<h1 th:text="${titulo}"></h1>
		</font>
		<hr color="#9FBAD1">
		
		 <table class="table table-bordered table-hover">
		 <br>
		 <br>
		 <br>
		 <br>		 
        <thead>
            <tr bgcolor="#6F97BA">
                <th scope="col">Descripcion</th>
                <th scope="col">Precio ($)</th>
                <th scope="col">Marca</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Proveedor</th>
            </tr>
        </thead>
	        <tbody class="table">
	            <tr th:each="art:${articulos}">
	                <td th:text="${art.descripcion}"></td>
	                <td th:text="${art.precio}"></td>
	                <td th:text="${art.marca}"></td>
	                <td th:text="${art.cantidad}"></td>
	                <td th:text="${art.proveedor}"></td>
	                
	            </tr>
	            
	        </tbody>
    	</table>
		
		
	

		<br><br>
		<a type="button" align="center" class="btn btn-primary" href="/app/index" >Ir a Inicio</a>
	</div>
	
	
	<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
    <div class="container text-center">
      <small>Copyright &copy; Quark_2 <br>Israel Ix, Haziel Kau, Ari Yam</small>
    </div>
  </footer>
	
</body>
</html>