<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
	<title th:text="${titulo}"></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" 
	integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	
</head>
<body style="background-color:#0F528B" >
<div  class="fluid-container" align="center" style="padding:50px">
		<font color="white">
			<h1 th:text="${titulo}"></h1>
		</font>
		<hr>
		 <table class="table table-bordered table-hover">
		 <br>
		 <br>
		 <br>
		 <br>
		 <br>		 
        <thead>
            <tr>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
        </thead>
	        <tbody class="table-success">
	            <tr>
	                <td>Mark</td>
	                <td>Otto</td>
	                <td>@mdo</td>
	            </tr>
	            <tr>
	                <td>Jacob</td>
	                <td>Thornton</td>
	                <td>@fat</td>
	            </tr>
	            <tr>
	                <td>Larry</td>
	                <td>the Bird</td>
	                <td>@twitter</td>
	            </tr>
	        </tbody>
    	</table>
		<!--  
		<table>
			<thead>
			<tr>
				<th>Descripción</th>
				<th>Precio</th>
				<th>Marca</th>
				<th>Cantidad</th>
				<th>Proveedor</th>
			</tr>
			</thead>
			<tbody>
				<tr th:each="art:${articulos}">
					<td th:text="${art.descripcion}"></td>
				</tr>
			</tbody>
			
		</table>
		-->

		<br><br>
		<a type="button" align="center" class="btn btn-primary" href="/app/index" >Ir a Inicio</a>
	</div>
</body>
</html>