<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
	<title th:text="${titulo}"></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" 
	integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
</head>
<body style="background-color:#CCE3F7">



	<div  align="center" style="padding:50px">
	<font color="#013B6C">
		<h1 th:text="${titulo}"></h1>
		</font>
		<hr>
		<br><br>
		<a type="button" align="center" class="btn btn-primary" href="/app/articulos" >Ir a Artículos</a>
	</div>
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
    <div class="container text-center">
      <small>Copyright &copy; Quark_2 <br>Israel Ix, Haziel Kau, Ari Yam</small>
    </div>
  </footer>
  
</body>



</html>